<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-6" style="padding:10px;">
    <div class="form-group">
        <label for="">Employee Name</label>
        <input type="text" required pattern="^[A-Za-z]{3,}" formControlName="name" class="form-control">
    </div>
    <div class="form-group">
            <label for="">Location</label>
            <select id = "locationList" required formControlName="location" class="form-control">
                <option value = "Pune">Pune</option>
                <option value = "Chennai">Chennai</option>
                <option value = "Bangalore">Bangalore</option>
                <option value = "Hyderabad">Hyderabad</option>
            </select>
    </div>
    <div class="form-group">
            <label for="">Email</label>
            <input type="email" required formControlName="email" class="form-control">
    </div>
    <div class="form-group">
            <label for="">Mobile</label>
            <input type="tel" required pattern="^[0-9]{10}" formControlName="mobile" class="form-control">
    </div>
    <button [disabled]="!myForm.valid" class="btn btn-info">Submit</button>
    </div>
</form>