<div class="form-group" style="padding:10px;">
    <label for="">Filter By:</label>
     <input type="text" class="form-control">
</div>
 
<span>Total Number Of Employees : </span><br><br>

<table>
    <thead>
        <tr>
            <th>Emp ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empDetails; let i = index">
            <td><a (click)="getSelectedEmpDetails(emp.id)" style="cursor: pointer;">{{ i+1 }}</a></td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.location }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.mobile }}</td>
            <td><button (click)="editEmployee(emp.id)" routerLink='/edit-employee/{{emp.id}}'>Edit</button></td>
            <td><button (click)="deleteEmployee(emp.id)">Delete</button></td>
        </tr>
    </tbody>
</table>