<div>
    <h3>Employee Details</h3>
    <div style="margin-left: 40px;">
        <table>
            <tbody>
                <tr>ID:<td></td></tr>
                <tr>Name: <td></td></tr>
                <tr>Location: <td></td></tr>
                <tr>Email: <td></td></tr>   
                <tr>Mobile: <td></td></tr><br> 
            </tbody>
        </table>
        <button class="btn btn-info"><a routerLink="/employee">Back</a></button>
    </div>
</div>