<div class="container">
    <div>
        <h1>{{ title }}</h1>
    </div><br>
    <div class="row fixed-header">
            <div class="col-md-6">
                <h5><a routerLink="/employee">Employees list</a></h5>
            </div>
            <div class="col-md-6">
                <h5><a routerLink="/add-employee">Add Employee</a></h5>
            </div>
    </div>
    <router-outlet></router-outlet>
</div>